/* © NextCardBD - Developed by Mahin Ltd (Tanvir) */

.lang-toggle-btn {
  font-family: var(--font-en);
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 8px 12px;
  border-radius: 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lang-toggle-btn:hover {
  color: var(--text-white);
  background-color: var(--primary-color);
}